<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XSLTest.InputSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XSLTest.InputSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <XSLTest.InputSettings>
            <setting name="xsltDir" serializeAs="String">
                <value />
            </setting>
            <setting name="inputFilesDir" serializeAs="String">
                <value />
            </setting>
        </XSLTest.InputSettings>
    </userSettings>
    <applicationSettings>
        <XSLTest.InputSettings>
            <setting name="HCID" serializeAs="String">
                <value>2.16.840.1.113883.4.349.2</value>
            </setting>
            <setting name="_HomeCommunity_Address_StreetLine1" serializeAs="String">
                <value>810 Vermont Avenue, NW</value>
            </setting>
            <setting name="_HomeCommunity_Address_City" serializeAs="String">
                <value>Washington</value>
            </setting>
            <setting name="_HomeCommunity_Address_State" serializeAs="String">
                <value>DC</value>
            </setting>
            <setting name="_HomeCommunity_Address_Zip" serializeAs="String">
                <value>20420</value>
            </setting>
            <setting name="_HomeCommunity_Address_Country" serializeAs="String">
                <value>US</value>
            </setting>
            <setting name="_LegalAuthenticator_Address_StreetLine1" serializeAs="String">
                <value>810 Vermont Avenue, NW</value>
            </setting>
            <setting name="_LegalAuthenticator_Address_City" serializeAs="String">
                <value>Washington</value>
            </setting>
            <setting name="_LegalAuthenticator_Address_State" serializeAs="String">
                <value>DC</value>
            </setting>
            <setting name="_LegalAuthenticator_Address_Zip" serializeAs="String">
                <value>20420</value>
            </setting>
            <setting name="_LegalAuthenticator_Address_Country" serializeAs="String">
                <value>US</value>
            </setting>
            <setting name="_LegalAuthenticator_Name_Family" serializeAs="String">
                <value>InterSystems</value>
            </setting>
            <setting name="_LegalAuthenticator_Name_Given" serializeAs="String">
                <value>HealthShare... JK, LMAO. OMG</value>
            </setting>
            <setting name="_HomeCommunity_Telecom_WorkPhone" serializeAs="String">
                <value>(800) 497-5428</value>
            </setting>
            <setting name="_LegalAuthenticator_Telecom_WorkPhone" serializeAs="String">
                <value>(800) 583-8725</value>
            </setting>
            <setting name="AssigningAuthority" serializeAs="String">
                <value>2.16.840.1.113883.4.349</value>
            </setting>
        </XSLTest.InputSettings>
    </applicationSettings>
</configuration>